{% extends 'base.html' %}
{% block content %}
<div class='container my-2'>
    <form action="" class="text-center my-2">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">제목</label>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" name="title"></textarea> -->
            <input type="text" name="title" value="{{ review.title }}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea> -->
            <input type="text" name="content" value="{{ review.content }}">
        </div>
        <div class="d-grid gap-2">
            <input href="" class="btn btn-primary" type="submit" value="리뷰 수정">
        </div>
    </form>
</div>
{% endblock %}